:root {
    --black: #000000;
    --gray: #808080;
    --blue: #3A4574;
    --brown: #D3B47F;
    --white: #FFFFFF;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.woff") format("woff"),
        url("fonts/Poppins-Regular.woff2") format(".woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Medium.woff") format("woff"),
        url("fonts/Poppins-Medium.woff2") format(".woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.woff") format("woff"),
        url("fonts/Poppins-SemiBold.woff2") format(".woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.woff") format("woff"),
        url("fonts/Poppins-Bold.woff2") format(".woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    margin: 0 375px;
}

.d-flex {
    display: flex;
}

body {
    font-family: "Poppins";
    font-weight: 400;
    color: var(--white);
    overflow: overlay;
    overflow-x: hidden;
}


/* header */

.header {
    margin-bottom: 151px;
}

.header__container {
    align-items: center;
}

.header__container-logo {
    margin-right: 135px;
}

.header__container-nav {
    margin-right: auto;
}

.nav-item {
    margin-right: 46px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--white);
    transition-duration: .3s;
}

.nav-item:hover {
    color: var(--brown);
}

.nav-item:last-child {
    margin-right: 0;
}

.header-call-svg {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    margin-bottom: 2px;
}

.header__container-call {
    margin-right: -14px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    transition-duration: .3s;
}

.header__container-call:hover {
    color: var(--brown);
}

/* burger */

.burger {
    display: none;
    margin-right: -5px;
}

.burger-list-call {
    align-items: center;
    color: var(--black);
}

#burger__toggle {
    display: none;
}

#burger__toggle:checked+.burger__btn>span {
    transform: rotate(45deg);

    z-index: 10;
}

#burger__toggle:checked+.burger__btn>span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
}

#burger__toggle:checked+.burger__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
}

#burger__toggle:checked~.burger__container-list {
    right: 0;
}

.burger__btn {
    align-items: center;
    width: 40px;
    padding: 25px 5px;
    cursor: pointer;
}

.burger__btn>span,
.burger__btn>span::before,
.burger__btn>span::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: white;
    transition-duration: .3s;
}

.burger__btn>span::before {
    content: '';
    top: -12px;
}

.burger__btn>span::after {
    content: '';
    top: 12px;
}

.burger__container-list {
    position: absolute;
    flex-direction: column;
    top: 0;
    right: -110%;
    width: 285px;
    height: 100%;
    margin: 0;
    padding-top: 160px;
    padding-left: 60px;
    list-style: none;
    background-color: #ECEFF1;
    transition-duration: .3s;
    z-index: 1;
}

.burger-list-item {
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--black);
    border-bottom: 1px solid var(--gray);
}

.burger__container-list li:nth-child(4) {
    margin-bottom: 40px;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

/* hero */
.hero {
    padding: 55px 0 265px;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero__block-sub {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.09em;
}

.hero__block-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
}

.hero-btn {
    padding: 38px 65px;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    cursor: pointer;
    transition-duration: .3s;
}

.hero-btn:hover {
    color: var(--brown);
    background-color: rgba(58, 69, 116, 0.9);
}

.hero__block-btn {
    align-items: center;
}

.hero-social {
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 24px;
    transition-duration: .3s;
}

.hero-social:last-child {
    margin-right: 0;
}

.hero-social:hover {
    color: var(--brown);
    background-color: var(--white);
}

/* date */

.date {
    position: relative;
    justify-content: space-between;
    padding: 80px 0 90px;
}

.date__left {
    color: var(--black);
}

.date__left-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.date__left-sub {
    width: 100%;
    align-items: center;
    padding-bottom: 19px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid var(--gray);
}

.date-sub:first-child {
    margin-right: 12px;
}

.dots {
    height: 4px;
    width: 4px;
    margin-right: 12px;
    border: 1px solid var(--brown);
    border-radius: 2px;
    background-color: var(--brown);
}


.date-img-first {
    margin-right: 22px;
    margin-top: 150px;
}

.date-img-second {
    margin-bottom: auto;
}

.date-brown-border {
    position: absolute;
    top: 127px;
    right: 98px;
    z-index: -1;
    width: 471px;
    height: 502px;
    border: 2px solid var(--brown);
}

/* slider */

.slider {
    background-color: var(--blue);
}

.slider__container {
    padding: 219px 0;
}

.swiper {
    width: 1190px;
    height: 343px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    top: 48%;
    right: 2.5%;
    width: 25px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    background-image: url(img/svg/arrow-b-r.svg);
    background-repeat: no-repeat;
}

.swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 48%;
    left: 2.5%;
    width: 25px;
    height: 50px;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    background-image: url(img/svg/arrow-b-l.svg);
    background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    background-image: url(img/svg/arrow-w-l.svg);
}

.swiper-button-next.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    background-image: url(img/svg/arrow-w-r.svg);
}

.swiper-slide-box {
    padding: 0 205px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-svg {
    width: 83px;
    height: 58px;
    margin-bottom: 35px;
}

.swiper-title {
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: var(--brown);
}

.swiper-sub {
    margin-bottom: 29px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.swiper-n {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.245em;
    text-transform: uppercase;
    color: #D3B47F;
}

/* modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 400px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
}

.modal-form {
    flex-direction: column;
    align-items: center;
}

.modal-title-block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-title {
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
    color: var(--brown);
}

.modal-input {
    width: 100%;
    padding: 5px 0 5px 5px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 4px;
    border: 1px solid var(--gray);
}

.modal-input:nth-child(2) {
    margin-bottom: 20px;
}

.modal-input:focus-visible {
    border-color: transparent;
    outline: 1px solid var(--brown);
    border-radius: 2px;
}

.modal-btn {
    align-items: center;
    width: fit-content;
    padding: 20px 40px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition-duration: .3s;
}

.modal-btn:hover {
    color: var(--brown);
}

.close-button {
    padding: 5px 10px;
    background-color: var(--gray);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .3s;
    width: fit-content;
    margin-right: -5px;
}

.close-button:hover {
    background-color: var(--brown);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media(max-width: 1800px) {
    .wrapper {
        margin: 0 255px;
    }

    .header {
        margin-bottom: 151px;
    }

    .hero {
        background-size: cover;
    }
}

@media(max-width: 1650px) {
    .wrapper {
        margin: 0px 135px;
    }

}

@media(max-width: 1440px) {
    .wrapper {
        margin: 0px 95px;
    }

    .header {
        margin-bottom: 101px;
    }

    .hero {
        padding: 55px 0 205px;
    }

    .slider__container {
        padding: 139px 0;
    }

    .date-brown-border {
        width: 341px;
    }
}

@media(max-width: 1200px) {
    .wrapper {
        margin: 0px 35px;
    }

    .header__container-logo {
        margin-right: auto;
    }

    .header__container-call {
        margin-right: 0;
    }

    .hero__block-title {
        font-size: 45px;
        line-height: 60px;
    }

    .hero__block-sub {
        font-size: 21px;
        line-height: 29px;
    }

    .slider__container {
        padding: 79px 0;
    }

    .swiper {
        width: 900px;
    }

    .swiper-slide-box {
        padding: 0px 95px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .swiper-svg {
        width: 63px;
        height: 28px;
        margin-bottom: 25px;
    }

}

@media(max-width: 1050px) {
    .burger {
        display: flex;
    }

    .logo-h {
        width: 200px;
    }

    .date-sub:first-child {
        margin-right: 8px;
    }

    .date__left-sub {
        width: 100%;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 25px;
    }

    .dots {
        height: 2px;
        width: 2px;
        margin-right: 8px;
    }

    .header__container-nav,
    .header__container-call {
        display: none;
    }

}

@media(max-width: 950px) {
    .header {
        margin-bottom: 51px;
    }

    .hero {
        padding: 55px 0 85px;
    }

    .hero-btn {
        padding: 28px 45px;
    }

    .date__left-title {
        margin-bottom: 6px;
        font-size: 19px;
        line-height: 26px;
    }

    .date__left-sub {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 20px;
    }

    .date {
        padding: 50px 0 60px;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .date-brown-border {
        width: 231px;
        height: 302px;
        right: 68px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .slider__container {
        cursor: pointer;
    }
}

@media(max-width: 800px) {
    .date__left-sub {
        flex-direction: column;
        align-items: baseline;
    }

    .dots {
        display: none;
    }

    .swiper-title {
        margin-bottom: 13px;
        font-size: 26px;
        line-height: 30px;
    }

    .swiper-sub {
        margin-bottom: 15px;
        line-height: 27px;
    }

    .swiper-n {
        font-size: 21px;
        line-height: 31px;
    }
}

@media(max-width: 650px) {
    .hero {
        padding: 25px 0 55px;
    }

    .hero__block-sub {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .hero__block-title {
        font-size: 35px;
        line-height: 49px;
    }

    .hero-btn {
        padding: 23px 33px;
        font-size: 16px;
        line-height: 22px;
    }

    .hero-social {
        height: 36px;
        width: 36px;
        margin-right: 15px;
        font-size: 15px;
        line-height: 20px;
    }

    .date {
        justify-content: center;
    }

    .date__right {
        display: none;
    }

    .date__left {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .date__left-sub {
        flex-direction: row;
    }

    .slider__container {
        padding: 40px 0;
    }

    .swiper-sub {
        line-height: 23px;
    }
}

@media(max-width: 500px) {
    .burger-item::after {
        bottom: 16px;
    }

    .burger-item::before {
        top: 16px;
    }

    .hero__block-title {
        font-size: 25px;
        line-height: 29px;
    }

    .hero__block-sub {
        font-size: 16px;
        line-height: 19px;
    }

    .hero__block-btn {
        flex-direction: column;
    }

    .hero-btn {
        padding: 17px 30px;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px;
    }

    .hero-social {
        height: 32px;
        width: 32px;
        margin-right: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .swiper-slide-box {
        padding: 0px 35px;
    }

    .swiper-n {
        font-size: 14px;
        line-height: 20px;
    }

    .hero-social {
        line-height: 16px;
    }

    .wrapper {
        margin: 0px 25px;
    }

    .modal-content {
        width: 210px;
    }

    .close-button {
        padding: 3px 10px;
    }

    .modal-title {
        font-size: 19px;
        line-height: 30px;
    }

    .modal-btn {
        font-size: 14px;
        padding: 10px 11px;
    }
}

@media(max-width: 350px) {

    .burger__btn>span,
    .burger__btn>span::before,
    .burger__btn>span::after {
        width: 30px;
        height: 3px;
    }

    .burger__btn {
        width: 30px;
    }

    .burger__btn>span::before {
        top: -9px;
    }

    .burger__btn>span::after {
        top: 9px;
    }


    .logo-h {
        width: 140px;
    }

    .modal-input {
        font-size: 12px;
    }

    .date__left-sub {
        font-size: 11px;
        line-height: 17px;
    }

    .date__left-sub:first-child {
        margin-right: 5px;
    }

    .swiper-title {
        font-size: 16px;
        line-height: 20px;
    }

    .swiper-sub {
        font-size: 14px;
        line-height: 20px;
    }
}